{% extends "psycho_site_base.html" %}

{% block content %}

<table class="table table-hover table-striped ">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>测试时间</th>
                    <th>测试年龄</th>
                    <th>测试次数</th>
                    <th>测试类型</th>
                    <th>得分</th>
                    <th>评级</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for test in page_queryset %}
                    <tr>
                        <td rowspan=4><a href="/Cshow/{{request.user.username}}/article/{{article.pk}}/" >{{request.user.name}}</a></td>
                        <td rowspan=4>{{test.submit_date}}</td>
                        <td rowspan=4>{{test.age}}&nbsp;周岁</td>
                        <td rowspan=4>第&nbsp; {{test.num_rounds}} &nbsp;次</td>
                        <td>品行行为</td>
                        <td>{{test.morality}}</td>
                        <td></td>
                        <td rowspan=4><a href="{% url 'psycho_detail' test.account.test test.account.pk %}" >查看明细</a>&nbsp;</td>
                    </tr>
                    <tr>
                    <td>多动行为</td>
                    <td>{{test.activity}}</td>
                    </tr>
                    <tr>
                    <td>被动行为</td>
                    <td>{{test.passive}}</td>
                    </tr>
                    <tr>
                    <td>多动综合指数</td>
                    <td>{{test.adhd}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pull-right">
        {{ page_obj.page_html|safe}}
        </div>
{% endblock %}